*{
  margin: 5px;
}

body{
  background-color: #2A313F;
  color: white;
}

.TopBar-container {
  display: flex;
  flex-direction: row;
}

.top10{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
 }
